@model IEnumerable<TN213_DoAn.Models.NGANHANG>

@{
    ViewBag.Title = "Ngân hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ngân Hàng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Ngân Hàng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENNH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MANH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MANH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MANH })
        </td>
    </tr>
}

</table>
